body {
    background-color: #9EA9F0;
}

h1 {
    text-align: center;
    font-size: 34px;
    color: #553C8B;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: #553C8B;
}

.introduction {
    width: 50%;
    background-color: #FFEAFE;
    margin: auto;
    color: #553C8B;
    border: #CCC1FF;
    border-width: 10px;
    text-align: center;
}

.education {
    width: 50%;
    background-color: #FFEAFE;
    margin: auto;
    color: #553C8B;
    border: #CCC1FF;
    border-width: 10px;
    margin: 20px;
    text-align: center;
}

.education ul li {
    list-style-type: none;
    margin: 5px;
}