body {
    background-color: #9EA9F0;
}

h1 {
    text-align: center;
    font-size: 34px;
    color: #553C8B;
}

h3 {
    text-align: center;
    font-size: 28px;
    color: #553C8B;
}

.introduction {
    width: 50%;
    background-color: #FFEAFE;
    margin: auto;
    color: #553C8B;
    text-align: center;
    border: 5px solid #CCC0FF;
    font-size: 20px;
}

.education {
    width: 50%;
    background-color: #FFEAFE;
    margin: auto;
    color: #553C8B;
    margin: auto;
    margin-top: 20px;
    border: 5px solid #CCC0FF;
    font-size: 20px;
}

.education ul {
    margin: 5px;
}

.education ul li {
    list-style-type: none;
    margin: 10px;
}