body {
    background-color: #9EA9F0;
}

h1 {
    text-align: center;
    font-size: 50%;
    color: #553C8B;
}

h3 {
    text-align: center;
    font-size: 35%;
    color: #553C8B;
}

.introduction {
    width: 50%;
    background-color: #FFEAFE
}